<?xml version="1.0"?>
<configuration>
  <!-- Microvix -->
  <appSettings>
    <add key="Endereco" value="192.168.21.130" />
    <add key="Porta" value="8080"/>
  </appSettings>
  <!-- Católica 
  <appSettings>
    <add key="Endereco" value="10.199.40.1" />
    <add key="Porta" value="3128"/>
  </appSettings>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WebService.RestService">
        <endpoint address="" binding="webHttpBinding" contract="WebService.IRestService"
                  bindingConfiguration="RestServiceBindingConfig" behaviorConfiguration="RestServiceEndpointBehavior" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="RestServiceBindingConfig">
          <security mode="None"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestServiceEndpointBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
